@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* font raleway */

.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

/* color */
.default-color {
  color: #1dd100;
}

/* banner */
.banner {
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;

  border-radius: 24px;
}

.Stext {
  top: 20px;
  position: relative;
  color: #1dd100;
}

.box {
  background-color: white;
  display: flex;
  border-bottom: solid #1dd100;
  height: 140px;
  width: 310px;
  border-radius: 20px;
}
.box img {
  height: 64px;
  width: 64px;
}

.box h3 {
  font-size: 30px;
}

.box2 {
  display: flex;
  flex-direction: column;
}

.box2 h3 {
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.box-container {
  position: absolute;
  bottom: 75px;
  margin-left: 149px;
}

/* coupon */
.coupon1 {
  background-color: #ffbf0f;
  width: 317px;
  /* width: 573px; */
  height: 220px;
  border-top-left-radius: 24px;
  height: 220px;
  border-bottom-left-radius: 24px;
}
.coupon2 {
  background-color: #ffbf0f;
  width: 317px;
  /* width: 573px; */
  height: 220px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.coupon3 {
  background-color: #f78c9c;
  width: 317px;
  /* width: 573px; */
  height: 220px;
  border-top-left-radius: 24px;
  height: 220px;
  border-bottom-left-radius: 24px;
}
.coupon4 {
  background-color: #f78c9c;
  width: 317px;
  /* width: 573px; */
  height: 220px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.design1 {
  background-color: #ffbf0f;
  width: 46px;
}
.coupon1 h3 {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}
.coupon2 h3,
.coupon3 h3,
.coupon4 h3 {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

.circle2 {
  background: #ffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 292px;
  transform: translateY(-50%);
}
.circle1 {
  background: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 292px;
  top: 168px;
  transform: translateY(50%);
}
.circle5 {
  background: #f7f8f8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
  position: absolute;
  left: 975px;
  top: -29px;
  /* position: absolute;
  left: -26px;
  top: 975px;
  transform: translateY(50%); */
}
.circle6 {
  background: #f7f8f8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 390px;
  left: 975px;
  position: absolute;
  /* position: absolute;
  left: 292px;
  top: 168px;
  transform: translateY(50%); */
}

.dash {
  transform: rotateX(90deg) translateX(-10px);
  width: 1px;
  height: 200px;
  color: #000000;
}

/* sell offer btn */
.btn2 {
  font-weight: 600;
  font-size: 1.2em;
  border: 2px solid #1dd100;
  padding: 14px 20px;
  color: #1dd100;
  border-radius: 15px;
}

.hr2 {
  border-top: 1px gray dashed;
}
.hr3 {
  border-top: 1px rgb(0, 0, 0) dashed;
  z-index: 1;
}

.hr-footer {
  border-top: 2px dashed;
}

/* seat */
.seat {
  height: 1836px;
  border-top: 2px solid #1dd100;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

/* seats design */

.seat1 {
  width: 110px;
  height: 57px;
  background-color: #f7f8f8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line1 {
  margin-left: 40px;
  margin-right: 40px;
  transform: translateY(-206px);
  width: 1px;
  background-color: #000000;
  height: 992px;
}

/* sup text */
.sup-text {
  border-radius: 7px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
  padding: 0px 8px;
  background-color: #1dd100;
}

.all-seat-container hr {
  border: 1px dashed;
  color: rgba(128, 128, 128, 0.795);
}

.grand-total {
  margin-top: -200px;
}

/* all seat bg color */
.bg-color {
  background-color: #1dd100;
  color: #ffffff;
}
